@model object

@{
    ViewData["Title"] = "ثبت موفق آگهی";
    ViewData["PageTitle"] = "ثبت موفق آگهی";
    Layout = "_Layout";
}

@section TopTop
    {
    @Html.Partial("TopTop")
}
@section NavBar
    {
    @Html.Partial("NavBar")
}
@section PageTitle
    {
    @Html.Partial("PageTitle")
}
@section TopHeader
    {

}
@section SideNav
    {
    @Html.Partial("SideNav")
}
@section Body
{
    <p class="right" dir="rtl">آگهی شما با موفقیت دریافت شد. بعد از تایید آنلاین خواهد شد.</p>

}

@section Footer
    {
    @Html.Partial("Footer")
}

@section scripts{

}