@model object

@{
    ViewData["Title"] = "مدیریت آگهی";
    ViewData["PageTitle"] = "مدیریت آگهی";
    Layout = "_Layout";
}

@section TopTop
    {
    @Html.Partial("TopTop")
}
@section NavBar
    {
    @Html.Partial("NavBar")
}
@section PageTitle
    {
    @Html.Partial("PageTitle")
}
@section TopHeader
    {

}
@section SideNav
    {
    @Html.Partial("SideNav")
}
@section Body
    {
    <a asp-controller="User" asp-action="UserAds" class="btn btn-block btn-success">آگهی های من</a>
    <a asp-controller="User" asp-action="MarkedAds" class="btn btn-block btn-primary">نشان شده ها</a>
}

@section Footer
    {
    @Html.Partial("Footer")
}

@section scripts{

}