@using ModelStd.Advertisements
@model IEnumerable<ModelStd.Advertisements.AdvertisementCommon>

@{
    ViewData["Title"] = "آگهی های من";
    ViewData["PageTitle"] = "آگهی های من";
    Layout = "_Layout";
}

@section TopTop
{
    @Html.Partial("TopTop")
}
@section NavBar
{
    @Html.Partial("NavBar")
}
@section PageTitle
{
    @Html.Partial("PageTitle")
}
@section TopHeader
{

}
@section SideNav
{
    @Html.Partial("SideNav")
}
@section Body
{
    @if (ViewData["Message"] != null && ViewData["Message"].ToString() != "")
    {
        @:<p>@ViewData["Message"].ToString()</p>
    }
<a asp-controller="User" asp-action="Index" class="btn btn-lg btn-primary">بازگشت به صفحه مدیریت آگهی</a>
    <br /><br />
    @if (Model != null)
    {
        foreach (AdvertisementCommon adCommon in Model)
        {
            @await Component.InvokeAsync("UserSingleAdItem", adCommon)
        }
    }
}

@section Footer
{
    @Html.Partial("Footer")
}

@section scripts{

}