<div class="row">
    <div class="col-xs-8 text-right">
        <span>@Model.ModelName</span>
        <span>/</span>
        <span>@Model.BrandName</span>
    </div>
    <div class="col-xs-4">
        <span>برند</span>
    </div>
</div>
<div class="row">

    <div class="col-xs-8 text-right">
        <span>@Model.Gearbox</span>
    </div>
    <div class="col-xs-4">
        <span>گیربکس</span>
    </div>
</div>
<div class="row">

    <div class="col-xs-8 text-right">
        <span>@Model.BodyColor</span>
        <span>@Model.InternalColor</span>
    </div>
    <div class="col-xs-4">
        <span>رنگ</span>
    </div>
</div>
<div class="row">
    <div class="col-xs-8 text-right">
        <span>@Model.Mileage</span>
    </div>
    <div class="col-xs-4">
        <span>کیلومتر</span>
    </div>
</div>
<div class="row">

    <div class="col-xs-8 text-right">
        <span>@Model.MakeYear</span>
    </div>
    <div class="col-xs-4">
        <span>سال تولید</span>
        <asp:Label ID="Label7" runat="server" Text="سال تولید"></asp:Label>
    </div>
</div>
<div class="row">

    <div class="col-xs-8 text-right">
        <span>@Model.Fuel</span>
    </div>
    <div class="col-xs-4">
        <span>سوخت</span>
    </div>
</div>
