@model object

@{
    ViewData["Title"] = "Admin";
    ViewData["PageTitle"] = "Admin";
    Layout = "_Layout";
}

@section TopTop
    {
    @Html.Partial("TopTop")
}
@section NavBar
    {
    @Html.Partial("NavBar")
}
@section PageTitle
    {
    @Html.Partial("PageTitle")
}
@section TopHeader
    {

}
@section SideNav
    {
    @Html.Partial("SideNav")
}
@section Body
    {
    <p>Admin Page</p>
}

@section Footer
    {
    @Html.Partial("Footer")
}

@section scripts{

}