<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <environment names="Development">
        <script src="~/lib/jQuery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/mustache.js/mustache.js"></script>
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>

    <environment names="Staging,Production">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"
                asp-fallback-src="~/lib/jQuery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/lib/mustache.js/mustache.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="~/css/site.min.css" rel="stylesheet" />
    </environment>

    <script src="~/js/site.js" asp-append-version="true"></script>
    
    <title>@ViewData["Title"]</title>
   
</head>
<body>
@RenderSection("TopTop", required: false)
@RenderSection("NavBar", required: false)



<div class="container mainContainer">

    @RenderSection("PageTitle", required: false)
    @RenderSection("TopHeader", required: false)

    <div class="middle">
        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
            @RenderSection("SideNav", required: false)
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
            <div class="main">
                @RenderSection("Body", required: true)
            </div>

        </div>
    </div>
</div>
    
@RenderSection("Footer", required: false)
@RenderSection("scripts", required: false)
</body>
</html>