@model ModelStd.Advertisements.AdvertisementTransportation

@{
    ViewData["Title"] = "جزئیات آگهی";
    ViewData["PageTitle"] = "جزئیات آگهی";
    Layout = "_Layout";
}

@section TopTop
    {
    @Html.Partial("TopTop")
}
@section NavBar
    {
    @Html.Partial("NavBar")
}
@section PageTitle
    {
    @Html.Partial("PageTitle")
}
@section TopHeader
    {

}
@section SideNav
    {
    @Html.Partial("SideNav")
}
@section Body
    {
    <div class="row">
        <div class="col-sm-6">
            @Html.Partial("AdDetail/CommonSections/ImageSection", Model.AdvertisementImages)
        </div>
        <div class="col-sm-6">
            @Html.Partial("AdDetail/CommonSections/AdCommonTop", Model)
        </div>
    </div>


    <div class="row">
        <div class="col-sm-6">
            rules and notifications
        </div>
        <div class="col-sm-6">
             @Html.Partial("AdDetail/Transportation/Transportation",Model)
        </div>
    </div>

    <div class="row">
        @Html.Partial("AdDetail/CommonSections/AdCommonButtom", Model)
    </div>
    <div class="row">
        @Html.Partial("AdDetail/CommonSections/SimilarAds")
    </div>
}

@section Footer
    {
    @Html.Partial("Footer")
}

@section scripts{
    <script src="/lib/lightslider/src/js/lightslider.js"></script>
}