@model ModelStd.Advertisements.AdvertisementCommon

@{
    ViewData["Title"] = "جزئیات آگهی";
    ViewData["PageTitle"] = "جزئیات آگهی";
    Layout = "_Layout";
}

@section TopTop
{
    @Html.Partial("TopTop")
}
@section NavBar
{
    @Html.Partial("NavBar")
}
@section PageTitle
{
    @Html.Partial("PageTitle")
}
@section TopHeader
{

}
@section SideNav
{
    @Html.Partial("SideNav")
}
@section Body
{
    <p>Ad Detail Default</p>
    <p>
        model detail is===> adId:  @Model.AdvertisementCategoryId and categoryId:@Model.AdvertisementStatus
    </p>


}

@section Footer
{
    @Html.Partial("Footer")
}

@section scripts{

}