@model object

@{
    ViewData["Title"] = "Manager";
    ViewData["PageTitle"] = "Manager";
    Layout = "_Layout";
}

@section TopTop
    {
    @Html.Partial("TopTop")
}
@section NavBar
    {
    @Html.Partial("NavBar")
}
@section PageTitle
    {
    @Html.Partial("PageTitle")
}
@section TopHeader
    {

}
@section SideNav
    {
    @Html.Partial("SideNav")
}
@section Body
    {
    <a asp-controller="Manager" asp-action="ManageSubmittedAds" class="btn btn-lg btn-primary">Manage Submitted Ads</a>
    <a asp-controller="Manager" asp-action="ManageAdImageFolder" class="btn btn-lg btn-primary">Manage Ad Image Folder</a>
    <a asp-controller="Manager" asp-action="ManageLetMeKnow" class="btn btn-lg btn-primary">Manage LetMeKnow</a>
    <a asp-controller="Manager" asp-action="TelegramMessage" class="btn btn-lg btn-primary">Telegram Message</a>
    <a asp-controller="Manager" asp-action="CreateCategoryInFile" class="btn btn-lg btn-primary">Create Category In File</a>
}

@section Footer
    {
    @Html.Partial("Footer")
}

@section scripts{

}