@model object

@{
    ViewData["Title"] = "Manage Submitted Ads";
    ViewData["PageTitle"] = "Manage Submitted Ads";
    Layout = "_Layout";
}

@section TopTop
{
    @Html.Partial("TopTop")
}
@section NavBar
{
    @Html.Partial("NavBar")
}
@section PageTitle
{
    @Html.Partial("PageTitle")
}
@section TopHeader
{

}
@section SideNav
{
    @Html.Partial("SideNav")
}
@section Body
{
<a asp-controller="Manager" asp-action="Index" class="btn btn-lg btn-primary">Back To Manager Page</a>
<br /><br />
    Manage Submitted Ads
}

@section Footer
{
    @Html.Partial("Footer")
}

@section scripts{

}