@model object

@{
    ViewData["Title"] = "ثبت موفق به من اطلاع بده";
    ViewData["PageTitle"] = "ثبت موفق به من اطلاع بده";
    Layout = "_Layout";
}

@section TopTop
{
    @Html.Partial("TopTop")
}
@section NavBar
{
    @Html.Partial("NavBar")
}
@section PageTitle
{
    @Html.Partial("PageTitle")
}
@section TopHeader
{

}
@section SideNav
{
    @Html.Partial("SideNav")
}
@section Body
{
    <p class="right" dir="rtl">درخواست به من اطلاع بده برای شما با موفقیت ثبت شد.</p>

}

@section Footer
{
    @Html.Partial("Footer")
}

@section scripts{

}