@model object

@{
    ViewData["Title"] = "به من اطلاع بده";
    ViewData["PageTitle"] = "به من اطلاع بده";
    Layout = "_Layout";
}

@section TopTop
    {
    @Html.Partial("TopTop")
}
@section NavBar
    {
    @Html.Partial("NavBar")
}
@section PageTitle
    {
    @Html.Partial("PageTitle")
}
@section TopHeader
    {

}
@section SideNav
    {
    @Html.Partial("SideNav")
}
@section Body
    {
    <h1 class="text-right">در این صفحه کالایی که به دنبال آن می گردید را انتخاب کنید. در آینده هنگام دریافت آگهی جدید در صورتی که با مشخصات شما هماهنگ باشد، به شما اطلاع میدهیم </h1>
    <div class="well">
        <div class="row">
            @await Component.InvokeAsync("CategorySelection")
        </div>
    </div>
    <div class="row">
        <div id="emailOrSms" class="col-sm-4">
            <input type="radio" name="plate" value="1" checked="checked" />ایمیل<br />
            <input type="radio" name="plate" value="2" />اس ام اس<br />
            <input type="radio" name="plate" value="3" />هر دو 
        </div>
    </div>
    <p>based on selected category partial view is loaded by ajax</p>
    <div id="CategorySpecificCriteria" class="row"></div>
    <p>user fills form data and submit it to a web api method(common  with android)</p>
    <br /><br />
    <button type="button" id="registerLetMeKnow" class="btn btn-primary btn-block">ثبت</button>
    <p>whan a new ad in inserted by someone A Server Task checks new ad with LetMeKnow Tables and sends emails and sms when matches found</p>

}

@section Footer
    {
    @Html.Partial("Footer")
}

@section scripts{
    <script src="~/js/LetMeKnow/index/dist/bundle.js"></script>
}