@model object

@{
    ViewData["Title"] = "به من اطلاع بده";
    ViewData["PageTitle"] = "به من اطلاع بده";
    Layout = "_Layout";
}

@section TopTop
{
    @Html.Partial("TopTop")
}
@section NavBar
{
    @Html.Partial("NavBar")
}
@section PageTitle
{
    @Html.Partial("PageTitle")
}
@section TopHeader
{

}
@section SideNav
{
    @Html.Partial("SideNav")
}
@section Body
{
    <h1 class="text-right">در این صفحه کالایی که به دنبال آن می گردید را انتخاب کنید. در آینده هنگام دریافت آگهی جدید در صورتی که با مشخصات شما هماهنگ باشد، به شما اطلاع میدهیم </h1>
    <p>user chooses category</p>
    1- make category selection ts DRY
    <br/><br/>
    <p>based on selected category partial view is loaded by ajax</p>
    <p>user fills form data and submit it to a web api method(common  with android)</p>
    <p>use repository to store user request in proper tables</p>
    <p>whan a new ad in inserted by someone A Server Task checks new ad with LetMeKnow Tables and sends emails and sms when matches found</p>
}

@section Footer
{
    @Html.Partial("Footer")
}

@section scripts{

}