@model ModelStd.Db.Identity.AppUser

@{
    ViewData["Title"] = "مدیریت حساب";
    ViewData["PageTitle"] = "مدیریت حساب";
    Layout = "_Layout";
}

@section TopTop
    {
    @Html.Partial("TopTop")
}
@section NavBar
    {
    @Html.Partial("NavBar")
}
@section PageTitle
    {
    @Html.Partial("PageTitle")
}
@section TopHeader
    {

}
@section SideNav
    {
    @Html.Partial("SideNav")
}
@section Body
{
    @if (ViewData["Message"] != null)
    {
        @:<label>@ViewData["Message"].ToString()</label>
    }
    <a asp-controller="Account" asp-action="EditProfile" class="btn btn-block btn-primary">ویرایش مشخصات</a>
<a asp-controller="Account" asp-action="ConfirmEmailAndPhoneNumber" class="btn btn-block btn-primary">تایید ایمیل و شماره تلفن همراه</a>
    <a asp-controller="Account" asp-action="ChangePassword" class="btn btn-block btn-primary">تغییر رمز ورود</a>
}

@section Footer
    {
    @Html.Partial("Footer")
}

@section scripts{

}