@model ConfirmEmailAndPhoneNumberModel

@{
    ViewData["Title"] = "اس ام اس ارسال شد";
    ViewData["PageTitle"] = "اس ام اس ارسال شد";
    Layout = "_Layout";
}

@section TopTop
{
    @Html.Partial("TopTop")
}
@section NavBar
{
    @Html.Partial("NavBar")
}
@section PageTitle
{
    @Html.Partial("PageTitle")
}
@section TopHeader
{

}
@section SideNav
{
    @Html.Partial("SideNav")
}
@section Body
{
    <div class="row">
        <div class="col-sm-12 text-right">
            <label dir="rtl">کاربر گرامی. کد تایید شماره تلفن برای شما اس ام اس میشود. لطفا کد ارسال شده را در فیلد مربوط به تایید شماره تلفن وارد نمایید.</label>
            <br/>
            <a asp-action="ConfirmEmailAndPhoneNumber" class="btn btn-info">رفتن به صفحه تایید شماره تلفن</a>
        </div>
    </div>
    
}

@section Footer
{
    @Html.Partial("Footer")
}

@section scripts{

}