@model ConfirmEmailAndPhoneNumberModel

@{
    ViewData["Title"] = "ایمیل ارسال شد";
    ViewData["PageTitle"] = "ایمیل ارسال شد";
    Layout = "_Layout";
}

@section TopTop
    {
    @Html.Partial("TopTop")
}
@section NavBar
    {
    @Html.Partial("NavBar")
}
@section PageTitle
    {
    @Html.Partial("PageTitle")
}
@section TopHeader
    {

}
@section SideNav
    {
    @Html.Partial("SideNav")
}
@section Body
    {
    <div class="row">
        <div class="col-sm-12 text-right">
            <label dir="rtl">کاربر گرامی. کد تایید ایمیل برای شما ارسال میشود. لطفا به ایمیل خود مراجعه کرده و کد ارسال شده را در فیلد مربوط به تایید ایمیل وارد نمایید.</label>
            <br />
            <a asp-action="ConfirmEmailAndPhoneNumber" class="btn btn-info">رفتن به صفحه تایید ایمیل</a>
        </div>
    </div>


}

@section Footer
    {
    @Html.Partial("Footer")
}

@section scripts{

}