@using ModelStd.Db.Ad
@model List<Temperature>

@{
    ViewData["Title"] = "دماسنج";
    ViewData["PageTitle"] = "دماسنج";
    Layout = "_Layout";
}

@section TopTop
    {
    @Html.Partial("TopTop")
}
@section NavBar
    {
    @Html.Partial("NavBar")
}
@section PageTitle
    {
    @Html.Partial("PageTitle")
}
@section TopHeader
    {

}
@section SideNav
    {
    @Html.Partial("SideNav")
}
@section Body
    {
    <input id="inputTemperature" type="hidden" value='@Json.Serialize(Model)' />
    <div id="degreeContainer" style="height: 500px; width: 100%;"></div>
    <div id="humidityContainer" style="height: 500px; width: 100%;"></div>
    <div id="viewPointContainer" style="height: 500px; width: 100%;"></div>
    <form asp-controller="Temperature" asp-action="CustomResult" method="post">
        <div>
            <span>انتخاب تعداد رکورد</span>
            <select id="numberOfItems" name="numberOfItems" class="form-control">
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200">200</option>
                <option value="250">250</option>
                <option value="300">300</option>
                <option value="1000000">all</option>
            </select>
            <button id="newNumberOfItems" class="btn btn-lg btn-primary">ارسال</button>
        </div>

    </form>
    <br /><br />

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Temperature</th>
            </tr>
        </thead>
        @foreach (Temperature temperature in Model)
        {
            <tr>
                <td>@temperature.TemperatureId</td>
                <td>@temperature.InsertDateTime</td>
                <td>@temperature.Degree</td>
            </tr>
        }
    </table>


}

@section Footer
    {
    @Html.Partial("Footer")
}

@section scripts{

    <script src="~/js/CanvasJs/jquery.canvasjs.min.js"></script>
    <script src="~/js/CanvasJs/canvasjs.min.js"></script>
    <script src="~/js/Temperature/dist/bundle.js"></script>

}