@using ModelStd.Db.Ad
@model List<ModelStd.Db.Ad.TemperatureModel>

@{
    ViewData["Title"] = "دماسنج";
    ViewData["PageTitle"] = "دماسنج";
    Layout = "_Layout";
}

@section TopTop
    {
    @Html.Partial("TopTop")
}
@section NavBar
    {
    @Html.Partial("NavBar")
}
@section PageTitle
    {
    @Html.Partial("PageTitle")
}
@section TopHeader
    {

}
@section SideNav
    {
    @Html.Partial("SideNav")
}
@section Body
    {
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Temperature</th>
        </tr>
        </thead>
        @foreach (TemperatureModel temperature in Model)
        {
            <tr>
                <td>@temperature.TemperatureId</td>
                <td>@temperature.InsertDateTime</td>
                <td>@temperature.Temp</td>
            </tr>
        }
    </table>

}

@section Footer
    {
    @Html.Partial("Footer")
}

@section scripts{

}