@model object

@{
    ViewData["Title"] = "خانه";
    ViewData["PageTitle"] = "خانه";
    Layout = "_Layout";
}

@section TopTop
    {
    @Html.Partial("TopTop")
}
@section NavBar
    {
    @Html.Partial("NavBar")
}
@section PageTitle
    {
}
@section TopHeader
    {

}
@section SideNav
    {
    @Html.Partial("SideNav")
}
@section Body
{
    @* add Only With Pictures textbox
        add Province,City,District selection
        add priceType نقد اقساط
        *@
    <div class="well">
        <div class="row">
            @await Component.InvokeAsync("CategorySelection")
        </div>
        <div class="row">
            @await Component.InvokeAsync("Location")
        </div>
        <br />
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6">
                        <input id="minPrice" class="form-control" placeholder="از قیمت" />
                    </div>
                    <div class="col-sm-6">
                        <input id="maxPrice" class="form-control" placeholder="تا قیمت"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <select id="orderBy" class="form-control">
                            <option value="" selected="selected">به ترتیب</option>
                            <option value="DateAsc">به روزترین آگهی</option>
                            <option value="DateDesc">قدیمی ترین آگهی</option>
                            <option value="PriceAsc">ارزانترین</option>
                            <option value="PriceDesc">گرانترین</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <span class="text-right" dir="rtl"></span>
                        <input type="radio" name="adType" value="Offer" checked="checked"/>کارکرده<br/>
                        <input type="radio" name="adType" value="Demand"/>حواله<br/>
                        <input type="radio" name="newUsed" value="New"/>صفر <br/>
                    </div>
                </div>
                
                
                <br/>
                <div id="categorySpecificSearchCriteria"></div>
            </div>
            <div class="col-sm-6">
                <button id="getAdFromServer" type="submit" class="btn btn-success btn-block btn-lg">جستجو</button>
                <br /><br/>
                <img id="serverCalledImage" src="~/Resources/Images/loader.gif" hidden="hidden" />
            </div>
        </div>
    </div>
    <div id="adPlaceHolder" class="row">

    </div>

   
}

@section Footer
    {
    @Html.Partial("Footer")
}

@section scripts{
    <script src="~/js/home/index/dist/bundle.js"></script>
    @Html.Partial("SingleAdViewTemplate")
}







