@model object

@{
    ViewData["Title"] = "خانه";
    ViewData["PageTitle"] = "خانه";
    Layout = "_Layout";
}

@section TopTop
    {
    @Html.Partial("TopTop")
}
@section NavBar
    {
    @Html.Partial("NavBar")
}
@section PageTitle
    {
}
@section TopHeader
    {

}
@section SideNav
    {
    @Html.Partial("SideNav")
}
@section Body
    {
    @* add Only With Pictures textbox
        add Province,City,District selection
        add priceType نقد اقساط
    *@
    <div class="well">
        <div class="row">
            <input id="searchText" class="text-right form-control" dir="rtl"  type="text" placeholder="جستجو ..." />
        </div>
        <div class="row">
            @await Component.InvokeAsync("CategorySelection")
        </div>
        <br/>
        <div class="row">
            @await Component.InvokeAsync("Location")
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-3 text-right" id="adType">
                <span>نوع آگهی</span><br/>
                <label>فرقی ندارد</label>&nbsp;<input type="radio" name="adType" value="3" checked="checked"/><br/>
                <label>ارائه</label>&nbsp;<input type="radio" name="adType" value="1"/><br/>
                <label>درخواست</label>&nbsp;<input type="radio" name="adType" value="2"/><br/>

            </div>
            <div class="col-sm-9">
            </div>
        </div>
        <div id="categorySpecificSearchCriteria" class="row">
           
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-9">
                <button id="getAdFromServer"  type="submit" class="btn btn-success btn-block btn-lg">جستجو</button>
                <div id="message"></div>
            </div>
            <div class="col-sm-3">
                <img id="loadAds" src="~/Resources/Images/loader.gif" hidden="hidden"/>
                <img id="loadView" src="~/Resources/Images/loader.gif" hidden="hidden" />
            </div>
        </div>
    </div>
    <div id="adPlaceHolder" class="row">

    </div>
}

@section Footer
    {
    @Html.Partial("Footer")
}

@section scripts{
    <script src="~/js/home/index/dist/bundle.js"></script>
    @Html.Partial("SingleAdViewTemplate")
    <input id="defaultImage" type="hidden" value='iVBORw0KGgoAAAANSUhEUgAAAJMAAACTCAIAAAAFh7xCAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAUKSURBVHhe7ZzBjqQgFEXn/3+xMulF96IqKZNy06nUpudOwxBGFBFQufQ9i4qtiPiOD0Gd+fUlOJE5VmSOFZljReZYkTlWZI4VmWNF5liROVZkjhWZY0XmWJE5VmSOFZljReZYkTlWZI4VmWNF5liROVZkjhWZY0XmWJE5VmSOlVJzr9frUySDcNnAFVNkDk15f3///c3lcjELIsQFB+FC0Gz4ysg3hxaY1oitVJGXb+56vZp2vL29mQURxwUKobNBLCDfnOsnxVYQOhvEAmTuBNo1p/4TRIKgnGNF5lhp1Bx6iXEcMfD94SAISx1mo+awvuKTAl4QhEiIbKECZG4vZI4VmWNF5liROVZkjpWezaHY4/H4+PjALpj6ACwPw/B8Pm0JZro1B0P+RHWyfL1eE/U3S4fmIqfkA3/UydebOWxCl2iLevg554hX1Ti9mXNv0hOp8vr4FLoyh/W2UDKXy2UcR7s/FV2Zu9/vpsxs37gEele7PxVdmYODjI/7IhW2TD/mImcSBwn6WekbxSORub/IXAhHzjFO7PoxB2ZncqvA3FKFLdOVOYzv00cobvxJOqXryhzWb5oPAJg+8iaHbhmXF1g6hXS6Mgcej4ctlwamgHbPPUGDcSBzVeFaMR0D/hyGIVthb+bA7XYzoVlltaoqIMMgaalJ2IQCtugWOjQHIM+WXuaAFz2oH0eJXEYuCzG22tqYPs0B3L2WakC80KnacrsRiewsW+V1a86AEQHuJbjwDbjZHDMe2arNgEsqfWbZublTQPPMzNJ0him4kji7RHkyVxm0Dclt25pFYubJXGUKtRlwjqu9uszVJH1CsgoyL36aMlcN9163FjjTSObJXB0wzaiVbQY3Zlm658lcBaAtfRiZjqkTv7OZJ3OlIKy2ZbsxK0/mikBA98g2g19zKE/m8sEdyLbpECbyZC4TaHM5sVPahdX68mQuBzRgb21LOHkyt5lIyI7ByJO5zZyozU/0cRxNS8Kkl7kpp2cbCD2FyNx/tKBtFuXcCjjo7XZLueT3IHJcmUsCkwHXsLMsriJz8+Do13/fBbUpT+Zi5H0Jfww/whyqGoYh76PjlG8DT6F/c5jPojbT72Eh44vjNjOvZ3Oowd2rJkCG/2B3lQbldWvOPX2IgAKJH437j54boUNzYarFg46t9/t96XsCBxzbHdqgN3OIb2JyTIrhTwxG4v7caCXxELvSjzmU9+9GecFFpiJfI7fApQYfTyfmJv91Wx5+DUv+2ukz6c0hvvsN/Gb9NTLOJDaHAkg1U36nGw86T9SM25vfGKTd7EzjYFjNIRUQ0wMiaK4J/PpT+J0ulE3wmcN6dGK23CE4T2gVEs5cNGbNiZCZSx/0VwRHdAdFlrfQVYLmzJkYheaOT7XGac6cYWLOTzW38MNp3Rx+G3za2wLtmnt+/7t9ZdgSjZqDMH+T/IU0ak6sInOsyBwrMseKzLEic6zIHCsyx4rMsXKyOT3+zwahs0EsIN/c5/7/Q0yvhB/IZJBvDqAFrs80Ly3jry5nt/o7hpWEu4RrfGa3+tX6v4Zwl3CNz+xWv1r/1+CWEa4q2kCROfB6vdAUkYj/5rKQUnPiLGSOFZljReZYkTlWZI4VmWNF5liROVZkjhWZY0XmWJE5VmSOFZljReZYkTlWZI4VmWNF5liROVZkjhWZY0XmWJE5VmSOFZljReZYkTlWZI4VmWNF5liROU6+vv4AV/aGmFHNMFcAAAAASUVORK5CYII=' />

}







