@model object

@{
    ViewData["Title"] = "خانه";
    ViewData["PageTitle"] = "خانه";
    Layout = "_Layout";
}

@section TopTop
    {
    @Html.Partial("TopTop")
}
@section NavBar
    {
    @Html.Partial("NavBar")
}
@section PageTitle
    {
}
@section TopHeader
    {

}
@section SideNav
    {
    @Html.Partial("SideNav")
}
@section Body
    {
    @* add Only With Pictures textbox
        add Province,City,District selection
        add priceType نقد اقساط
    *@
    <div class="well">
        <div class="row">
            <input id="searchText" class="text-right form-control" dir="rtl"  type="text" placeholder="جستجو ..." />
        </div>
        <div class="row">
            @await Component.InvokeAsync("CategorySelection")
        </div>
        <br/>
        <div class="row">
            @await Component.InvokeAsync("Location")
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-3 text-right" id="adType">
                <span>نوع آگهی</span><br/>
                <label>فرقی ندارد</label>&nbsp;<input type="radio" name="adType" value="3" checked="checked"/><br/>
                <label>ارائه</label>&nbsp;<input type="radio" name="adType" value="1"/><br/>
                <label>درخواست</label>&nbsp;<input type="radio" name="adType" value="2"/><br/>

            </div>
            <div class="col-sm-9">
            </div>
        </div>
        <div id="categorySpecificSearchCriteria" class="row">
           
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-9">
                <button id="getAdFromServer"  type="submit" class="btn btn-success btn-block btn-lg">جستجو</button>
                <div id="message"></div>
            </div>
            <div class="col-sm-3">
                <img id="loadAds" src="~/Resources/Images/loader.gif" hidden="hidden"/>
                <img id="loadView" src="~/Resources/Images/loader.gif" hidden="hidden" />
            </div>
        </div>
    </div>
    <div id="adPlaceHolder" class="row">

    </div>
}

@section Footer
    {
    @Html.Partial("Footer")
}

@section scripts{
    <script src="~/js/home/index/dist/bundle.js"></script>
    @Html.Partial("SingleAdViewTemplate")
    <input id="defaultImage" type="hidden" value='iVBORw0KGgoAAAANSUhEUgAAAG4AAABkCAMAAABQHvWvAAAAw1BMVEX4+PiAgICIiIh4eHiIgIigoKDw8PCAeIBoaGiQkJDAuMBwcHB4eICAgIigmKCYkJh4cHiIiICAgHigoKiIgICYmJi4uLiQiJBISEigoJiwsLCooKDY0Ni4sLiIiJB4gICQiIiAeHiwuLj48PiAiIhgYGB4cHBwaHDY2NjAwLhoYGi4wLhISFCooKh4eHBQUFC4sLBgYGjw+PDIyMhweHBoaGBYUFiQmJDo4Ojg4OCoqKC4uMCAiIBoYGDY0NDY2NBQUEiUEp+JAAAE6UlEQVRoge3XbXeiOBgGYPOiEEEJSqTaEbFCtbSD1VbbGTu7+/9/1T6A7zqzCdH9ZHJyDtCYmytJQSuVW7mVW7mVW7mV35RJvXOJ+ikZ1zf1SxInPcm4N9Ft6lbBUF8yri7aVd3aZEha16ze69ZuKK1biSrcn15rMkNN1+s/1Z/rpVofdKz1KhmXrV1TyM7FmdJrK+nuq1UR4vJxMJlCXpetndOgGnFNNV23ySgqH9fsgu5LVvcmmlUHNcrHZbpITedp6ZrCV1i7pgh0dPD5diCvEx+aOsjzicLaaeraQmBbXif0dPe5Tj4u02nEgc5R0DninunE3Qt4I0jr6qwttOLUdE+OEK6eTnyo6ITwB0b5OOGAjjxI9s51RksjrisYVtA5sI91dVw27jnsOlhP5zCcKuiYri7AXHrt2AfovsrHOXC/9F1FF+joWMAYktZ1GAvxkJSPy3WW9Lfo/1nng45o6UIVHQ4YJfbR1c836TjGmI/stmRv0DH3WPdXPGU1+bgPz5J9m3cwi+hRXH1mmstYEsj8TCf7j9DxXf9I931BMCXxNJQCMpdhpKDzAzrguwu1wDQiH2M0niZngavDu4j8yEeWtC50fcR3ujlaeB8gxiEiiyk76f/349FdMOyDTvr3HfSm9lb3wzYpeP2sRcZsaU4Oeo/YzOTxVOzH+ThQ0GFw8HR9NjFTDPlFDbGXJtNwvuvcXyQodA1zav440Bmp9NpFAW5Ya11nZmEcwOc3jdqwghvghMc8v46s5ctqMwB8HpOxtI7CrngsdN1fBKwHlSKYu+4I/lhjMcxzdg1jjyT/eOsdA7PgltGNcGIH+LhiZJgvs2+VVZyQ3VU62O5b6EJVdRakpQnC+b0ftS+UJrEVc3f/eqZedrc6U1bXhwwj0z3YcHS2RBQhRI8uUmSbS/OzUsEUdDPp75kepi0L1q6OsAvDnG303DVkpL9+gs7FaGjKxvURjQpdI4L7VGmImP1MFyms3ZPngu4901FXrXrkEVL8ryxXQYcKHWpQRFUa4mY70zUaA+m1e4ZdQMawM+utbASVitIMFSJVnT0D3cpQTMt0+dqhBjGrknE9hLxc1295MIJKK3QYjvlCWjdowFzAd5WegRqKNV+7qAFrn0jrDIRy3Svo1Cp6X+ta3PwuGbeyIc7kax1SaQNexCnrsmfmK0GKBVIgjrZQiy+kdZDC12unWGweQ1xkKOmG8Oxb61owhkLb6shjLK8zCDchrmcPDLVK7CwFGQNbRdcy0jyOGC21OrQSeCPQL4NY0rperhtnOtsghkorUpBh29ZM9jdCpnvPdK9/eN+db8V7xyMqutVG99Z76KvVXq9az3QEdNJrR8jQMtP/7vi7oqbrDexCV7YgmxBFXRKXjxuDbiyt6+e65d3L3V2JtpzGMSfciqV1nAyh/6NVqr3D3EBV0Fkw90SvcVP6qfKTk+wOtVqqoLN1bYTwmbSu4zNHu/pk/et1XquN/hj3OflWsk72z/Kfl6NaUSSlSuV01FGeNNrmXTT2NG4bU1unXzBtfhJXq823R+fvR6OMTvbEbvgrxJ3T7Y7ml44bHY+2tyML+WV36PFo+7O73qHXjLu67nCv7OnmV9Gd8A6TL/x0Oc676j/C4WyN9s/X93HRp0oxbDHivHie1DaqazwzK7s3wGbX5Efbs0rtX+Ddv2sEsvS0AAAAAElFTkSuQmCC' />

}







