@model object

@{
    ViewData["Title"] = "خانه";
    ViewData["PageTitle"] = "خانه";
    Layout = "_Layout";
}

@section TopTop
    {
    @Html.Partial("TopTop")
}
@section NavBar
    {
    @Html.Partial("NavBar")
}
@section PageTitle
    {
}
@section TopHeader
    {

}
@section SideNav
    {
    @Html.Partial("SideNav")
}
@section Body
    {
    @* add Only With Pictures textbox
        add Province,City,District selection
        add priceType نقد اقساط
    *@
    <div class="well">
        <div class="row">
            <input id="searchText" class="text-right form-control" dir="rtl"  type="text" placeholder="جستجو ..." />
        </div>
        <div class="row">
            @await Component.InvokeAsync("CategorySelection")
        </div>
        <br/>
        <div class="row">
            @await Component.InvokeAsync("Location")
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-3 text-right" id="adType">
                <span>نوع آگهی</span><br/>
                <label>فرقی ندارد</label>&nbsp;<input type="radio" name="adType" value="3" checked="checked"/><br/>
                <label>ارائه</label>&nbsp;<input type="radio" name="adType" value="1"/><br/>
                <label>درخواست</label>&nbsp;<input type="radio" name="adType" value="2"/><br/>

            </div>
            <div class="col-sm-9">
            </div>
        </div>
        <div id="categorySpecificSearchCriteria" class="row">
           
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-9">
                <button id="getAdFromServer"  type="submit" class="btn btn-success btn-block btn-lg">جستجو</button>
                <div id="message"></div>
            </div>
            <div class="col-sm-3">
                <img id="serverCalledImage" src="~/Resources/Images/loader.gif" hidden="hidden"/>
            </div>
        </div>
    </div>
    <div id="adPlaceHolder" class="row">

    </div>
}

@section Footer
    {
    @Html.Partial("Footer")
}

@section scripts{
    <script src="~/js/home/index/dist/bundle.js"></script>
    @Html.Partial("SingleAdViewTemplate")
}







