@model object

@{
    ViewData["Title"] = "NewAd";
    ViewData["PageTitle"] = "NewAd";
    Layout = "_Layout";
}

@section TopTop
{
    @Html.Partial("TopTop")
}
@section NavBar
{
    @Html.Partial("NavBar")
}
@section PageTitle
{
    @Html.Partial("PageTitle")
}
@section TopHeader
{

}
@section SideNav
{
    @Html.Partial("SideNav")
}
@section Body
{
    @* TODO add category select view and based on user selection load specific partial view *@
    <div class="well">
        <div class="row">
            @await Component.InvokeAsync("CategorySelectionNewAd")
        </div>
        <br/>
        <div class="row">

            

            </div>
            
        </div>
   
   
    <div id="adPlaceHolder" class="row">

    </div>
    

}

@section Footer
{
    @Html.Partial("Footer")
}

@section scripts{

}
