@model object

@{
    ViewData["Title"] = "NewAd";
    ViewData["PageTitle"] = "NewAd";
    Layout = "_Layout";
}

@section TopTop
    {
    @Html.Partial("TopTop")
}
@section NavBar
    {
    @Html.Partial("NavBar")
}
@section PageTitle
    {
    @Html.Partial("PageTitle")
}
@section TopHeader
    {

}
@section SideNav
    {
    @Html.Partial("SideNav")
}
@section Body
    {
    <div class="well">
        <div class="row">
            @await Component.InvokeAsync("CategorySelectionNewAd")
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-12">
            <input id="adTitle" class="form-control text-right" dir="rtl" placeholder="عنوان آگهی را وارد کنید" />
        </div>
    </div>

    <div id="CategorySpecificCriteria" class="row">
        @await Component.InvokeAsync("NewAdTransformation");
    </div>
    <div class="row">
        @await Component.InvokeAsync("FileUpload")
    </div>
    <div class="row form-group">
        <div class="col-sm-2 text-right"><label>توضیحات</label></div>
        <div class="col-sm-10">
            <input id="adComment" class="form-control" placeholder="توضیحات"/>
        </div>
    </div>
    <button type="button" id="submitNewAd" class="btn btn-primary btn-block">ارسال آگهی</button>
    <br />
    <br />
}

@section Footer
    {
    @Html.Partial("Footer")
}

@section scripts{
    <script src="~/js/home/newAd/dist/bundle.js"></script>
}
